<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Standard Meta -->
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    
    <link rel="stylesheet" href="<%= static_path(@conn, "/vendor/semantic/dist/semantic.min.css") %>">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <script type="text/javascript" src="/vendor/js/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="/vendor/semantic/dist/semantic.min.js"></script>
        
    <title>Join Edit</title>
    
  </head>
  <%= render @view_module, @view_template, assigns %>
</html>
