<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Standard Meta -->
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    
    <link rel="stylesheet" href="<%= static_path(@conn, "/vendor/semantic/dist/semantic.min.css") %>">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <title>Join Edit</title>
    
  </head>

  <body>
    <script>window.userToken = "<%= assigns[:user_token] %>";</script>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    <!--</div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>

    <script src="vendor/semantic/dist/components/visibility.js"></script>
    <script src="vendor/semantic/dist/components/sidebar.js"></script>
    <script src="vendor/semantic/dist/components/transition.js"></script>
    

  </body>
</html>
