<html>
    <head>
      <link rel="stylesheet" href="<%= static_path(@conn, "/css/codemirror.css") %>">
      <link rel="stylesheet" href="<%= static_path(@conn, "/js/codemirror/addon/hint/show-hint.css") %>">
      <script>
      var room = "<%= @room %>";
      var user = "<%= @user %>";
      </script>
      <style type="text/css">
      .ui.height.grid {
        padding-left: 1em;
        padding-right: 1em;
        padding-bottom: 1em;
      }
      .ui.grid > .column:not(.row),
      .ui.grid > .row > .column {
        padding-left: 0.2rem;
        padding-right: 0.2rem;
        padding-top: 0.4rem;
        padding-bottom: 0rem;
      }
      .CodeMirror {
        height: 100%;
      }
      .userlist {
        font-size: 0.9rem;
      }
      .fullscreen {
        height: calc(80vh )
      }
      .ui.two.item.list {
        height: calc(6vh);
        overflow-y: scroll;
        /*overflow-x: hidden;*/
      }
      .ui.height.comments {
        height: calc(68vh);
        overflow-y: scroll;
        /*overflow-x: hidden;*/
      }
      .ui.chat.textarea {
        /*height: calc(10vh);
        overflow-y: scroll;
        overflow-x: hidden;*/
        width: 100%;
      }
      .ui.compact.segment {
        padding-top: 0rem;
        padding-bottom: 0rem;
        margin: 0em 0em;
        margin-bottom: 0.4em;
        width: 100%;
      }
      .ui.fullscreen.segment {
        padding-top: 0rem;
        padding-bottom: 0rem;
        margin: 0em 0em;
      }
      .ui.form .field {
        margin: 0em 0em;
        margin-bottom: 0.2em;
      }
      ui.fixed.segment {
        height: calc(80vh );
        overflow-y: scroll;
      }

    </style>
    <script>
        $(document).ready(function() {
            // fix menu when passed
            $('.masthead').visibility({
                once: false,
                onBottomPassed: function() {
                    $('.fixed.menu').transition('fade in');
                },
                onBottomPassedReverse: function() {
                    $('.fixed.menu').transition('fade out');
                }
            });

            // create sidebar and attach to menu open
            $('.ui.sidebar').sidebar('attach events', '.toc.item');
          
            $('.ui.huge.primary.button').on('click', function () {
              $('.ui.mini.modal').modal('show');
            })
            $('.ui.small.primary.button').on('click', function() {
              var user = $('.ui.form').form('get value', 'username');
              var url = 'myroom101/' + user;
              location.href=url;
            })

            
        });

        function log(object) {
  var output = '';
  for (var property in object) {
    output += property + ":" + object[property] +'; ';
  }
  console.log("----- " + output +" ------");
  return output;
}
    </script>
    </head>

<body class="pushable">
  <!-- Sidebar Menu -->
  <div class="ui vertical inverted sidebar menu">
      <a class="active item">Home</a>
      <a class="item">Work</a>
      <a class="item">Company</a>
      <a class="item">Careers</a>
      <a class="item">Login</a>
      <a class="item">Signup</a>
  </div>
  <div class="child pusher">
    <div class="ui inverted vertical child masthead center aligned segment">
      <div class="ui container">
        <div class="ui large secondary inverted pointing menu">
          <a class="toc item">
              <i class="sidebar icon"></i>
          </a>
          <a class="active item">Home</a>
          <a class="item">Work</a>
          <a class="item">Company</a>
          <a class="item">Careers</a>
          <div class="right item">
              <a class="ui inverted button">Log in</a>
              <a class="ui inverted button">Sign Up</a>
          </div>
        </div>
      </div>
    </div>
    </br>
    <div class="ui height grid">
      <div class="sixteen wide column">
        <div class="ui tiny visible message">
          <p>Hello <%= @user %>, welcome to <%= @room %>!</p>
        </div>
      </div>
      <div class="twelve wide column">
        <div class="ui compact segment">
        </div>
        <div class="ui fullscreen segment">
        <textarea id="code" name="code" style="height:100%">
#include

int main(int argc, char *argv[]) {

  /* An annoying "Hello World" example */
  for (auto i = 0; i < 0xFFFF; i++)
    cout << "Hello, World!" << endl;

  char c = '\n';
  unordered_map <string, vector<string> > m;
  m["key"] = "\\\\"; // this is an error

  return -2e3 + 12l;
}
        </textarea>
        </div>
      </div>

      <div class="four wide right column">
        <div class="ui compact segment">
          <div id="users" class="ui two item list right">
          </div>
        </div>
        <div class="ui compact segment">
          <div id="msgs" class="ui compact height comments"></div>
        </div>
        <div class="ui compact segement">
          <div class="ui fluid action input">
            <textarea class="ui chat textarea" id="chatinput"></textarea> 
            <div class="ui large blue chat button"><i class="right arrow icon"></i></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
</body